In [ ]:
%matplotlib inline

# Twitter Gender Classification

This notebook will show our final project. We will use a DB to build a classification model for tweets. The model will classify the tweet writer by gender.

## Submitted by: Shaked Eyal 201605870 && Tomer Shahar 302223979

### Data Presentation - Part 1

In this section we will analyze the DB like class distribution and frequent terms.

In [1]:
import warnings
from DataPresentation import DataPresentation

warnings.filterwarnings('ignore')

In [2]:
dp = DataPresentation()
data = dp.read_csv()

As we can see the Most of the tweets in the  are from female, after that there is the male tweeters and at last the 'brand'. Also we can see that we have an Unknown gender that we need to clean up.

In [3]:
data.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,gender,gender:confidence,profile_yn,profile_yn:confidence,created,...,profileimage,retweet_count,sidebar_color,text,tweet_coord,tweet_count,tweet_created,tweet_id,tweet_location,user_timezone
0,815719226,False,finalized,3,10/26/15 23:24,male,1.0000,yes,1.0,12/5/13 1:48,...,https://pbs.twimg.com/profile_images/414342229...,0,FFFFFF,Robbie E Responds To Critics After Win Against...,NaN,110964,10/26/15 12:40,6.587300e+17,main; @Kan1shk3,Chennai
1,815719227,False,finalized,3,10/26/15 23:30,male,1.0000,yes,1.0,10/1/12 13:51,...,https://pbs.twimg.com/profile_images/539604221...,0,C0DEED,ÛÏIt felt like they were my friends and I was...,NaN,7471,10/26/15 12:40,6.587300e+17,NaN,Eastern Time (US & Canada)
2,815719228,False,finalized,3,10/26/15 23:33,male,0.6625,yes,1.0,11/28/14 11:30,...,https://pbs.twimg.com/profile_images/657330418...,1,C0DEED,i absolutely adore when louis starts the songs...,NaN,5617,10/26/15 12:40,6.587300e+17,clcncl,Belgrade
3,815719229,False,finalized,3,10/26/15 23:10,male,1.0000,yes,1.0,6/11/09 22:39,...,https://pbs.twimg.com/profile_images/259703936...,0,C0DEED,Hi @JordanSpieth - Looking at the url - do you...,NaN,1693,10/26/15 12:40,6.587300e+17,"Palo Alto, CA",Pacific Time (US & Canada)
4,815719230,False,finalized,3,10/27/15 1:15,female,1.0000,yes,1.0,4/16/14 13:23,...,https://pbs.twimg.com/profile_images/564094871...,0,0,Watching Neighbours on Sky+ catching up with t...,NaN,31462,10/26/15 12:40,6.587300e+17,NaN,NaN

 This is the DB itself. We present here the first 5 rows. As we can see we have 26 columns for each row.

In [4]:
data.describe()

,_unit_id,_trusted_judgments,gender:confidence,profile_yn:confidence,fav_number,retweet_count,tweet_count,tweet_id
count,2.005000e+04,20050.000000,20024.000000,20050.000000,20050.000000,20050.000000,2.005000e+04,2.005000e+04
mean,8.157294e+08,3.615711,0.882756,0.993221,4382.201646,0.079401,3.892469e+04,6.587350e+17
std,6.000801e+03,12.331890,0.191403,0.047168,12518.575919,2.649751,1.168371e+05,5.000124e+12
min,8.157192e+08,3.000000,0.000000,0.627200,0.000000,0.000000,1.000000e+00,6.587300e+17
25%,8.157243e+08,3.000000,0.677800,1.000000,11.000000,0.000000,2.398000e+03,6.587300e+17
50%,8.157294e+08,3.000000,1.000000,1.000000,456.000000,0.000000,1.144150e+04,6.587300e+17
75%,8.157345e+08,3.000000,1.000000,1.000000,3315.500000,0.000000,4.002750e+04,6.587400e+17
max,8.157580e+08,274.000000,1.000000,1.000000,341621.000000,330.000000,2.680199e+06,6.587400e+17

In [5]:
dp.data_to_df(data)
dp.print_common()

Male most common terms:  58767
[('like', 351),
 ('get', 346),
 ("i'm", 303),
 ('one', 264),
 ('time', 228),
 ('new', 215),
 ('love', 213),
 ('go', 207),
 ('people', 196),
 ('good', 186),
 ('know', 183),
 ('day', 182),
 ('see', 168),
 ('2', 168),
 ('__', 162),
 ('got', 159),
 ('back', 157),
 ('think', 157),
 ('best', 152),
 ('amp', 152)]
================================================================================
Female most common terms:  60168
[("i'm", 528),
 ('like', 450),
 ('__', 399),
 ('get', 354),
 ('one', 330),
 ('love', 323),
 ('day', 296),
 ('go', 278),
 ('people', 245),
 ('time', 242),
 ('know', 210),
 ('new', 205),
 ('amp', 203),
 ('want', 199),
 ('___', 195),
 ('best', 192),
 ('got', 190),
 ('last', 178),
 ('back', 172),
 ('good', 168)]
================================================================================
Brand most common terms:  59302
[('weather', 2279),
 ('get', 1324),
 ('15', 1169),
 ('channel', 1169),
 ('updates', 1147),
 ('40', 732),
 ('39', 424),
 ('new', 243),
 ('amp', 191),
 ('us', 166),
 ('one', 156),
 ('like', 152),
 ('love', 139),
 ('see', 139),
 ('2', 135),
 ('10', 129),
 ('last', 118),
 ('3', 115),
 ('best', 114),
 ('day', 110)]